

/* Modifying overall */

body{
    margin: 0%;
}

:root{
    background-color: rgb(227, 227, 227);
}








.top_div{

    background-color:rgb(182, 182, 182);
    margin-top: 0px;
    padding: 0%;
    height: 6rem;

 /* Padding */
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0px;

}


.header{

    display: flex;
    margin-top: 0px;


    position: relative;
    margin-bottom: 5rem;
    background-color: aqua;

}


.logo_name{
    color: black;
    font-size: 2rem;
    font-family:  'Oswald', sans-serif;

}


